@import "../../styles/variables.scss";
.contact-container {
  min-height: 100vh;
  width: 100%;
  background-color: #252422;
  text-align: justify;
  color: white;
  .margin-container {
    .content-box {
      padding: 0 30px 30px 30px;
      justify-content: space-between;
      &:nth-child(1) {
        padding: 30px 30px 0 30px;
      }
      &:nth-child(3) {
        padding: 0;
        background-image: url("https://i.ibb.co/Q9CqDhT/597081f96aeb8b86c9f70052a34be782.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        background-blend-mode: multiply;
        background-position-y: 50%;
        background-position-x: 50%;
        align-items: center;
      }
      &:nth-child(4){
        display: none;
      }
      @media only screen and (max-width: $breakpoint-lg) {
        &:nth-child(2) {
          padding: 0 0 20px 0;
        }
        &:nth-child(3) {
          padding: 30px 30px 0 30px;
        }
      }
      @media only screen and (max-width: $breakpoint-md) {
        &:nth-child(1){
          padding: 20px 20px 0 20px;
        }
      }
      .content {
        h1 {
          position: relative;
          padding-bottom: 5px;
          text-transform: uppercase;
          color: white;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: auto;
            bottom: 0;
            height: 5px;
            width: 100px;
            background: rgb(255, 204, 0);
            border-radius: 100px;
            z-index: 2;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: auto;
            bottom: 0;
            height: 5px;
            width: 35px;
            background: rgb(255, 204, 0);
            border-radius: 100px;
            z-index: 2;
          }
        }
        span {
          left: 0;
          top: 0;
          font-size: 3rem;
          line-height: 1;
          font-weight: 900;
          color: rgba(255, 255, 255, 0.2);
          display: inline-block;
          text-transform: uppercase;
          transform: translateY(-60%);
          z-index: -1;
          user-select: none;
          white-space: nowrap;
        }
      }
      .button-container {
        height: 50px;
        width: 70px;
        margin-top: 10px;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        .exit {
          position: relative;
          background-color: $colorThree;
          border-radius: 360px;
          height: 15px;
          width: 15px;
          &::after {
            content: "";
            position: absolute;
            background-color: $colorThree;
            border-radius: 360px;
            height: 15px;
            width: 15px;
            transform: translateX(-165%);
          }
          &::before {
            content: "";
            position: absolute;
            background-color: $colorThree;
            border-radius: 360px;
            height: 15px;
            width: 15px;
            transform: translateX(65%);
          }
          &:hover {
            animation: mainMoves 1s infinite;
            @keyframes mainMoves {
              33% {
                transform: translateY(-30%);
              }
              66% {
                transform: translateY(30%);
              }
              99% {
                transform: translateY(-30%);
              }
            }
          }
        }
      }
      .message-content-box {
        padding: 30px;
        width: 70%;
      }
      .message-form-content-box {
        background-color: $colorThree;
        padding: 60px 30px;
        height: 100%;
        width: 30%;
        .text-divisor {
          textarea {
            outline: none;
            color: white;
            font-family: $fontThree;
            background-color: transparent;
            border: 2px solid rgba(254, 254, 254, 1);
            border-radius: 5px;
            width: 100%;
            &::placeholder { 
              color: white;
              opacity: 1;
            }
          }
        }
        .divisor {
          .form-divisor {
            width: 80%;
            .form-content {
              padding: 0 30px 0 0;
              input {
                font-family: $fontThree;
                background-color: transparent;
                border: 2px solid rgba(254, 254, 254, 1);
                border-top: none;
                border-left: none;
                border-right: none;
                height: 30px;
                width: 100%;
                padding: 0 10px;
                outline: none;
                color: white;
                &::placeholder { 
                  color: white;
                  opacity: 1;
                }
              }
            }
          }
          .button-divisor {
            width: 20%;
            position: relative;
            button {
              position: absolute;
              bottom: 0;
              right: 0;
              left: auto;
              top: auto;
              padding: 10px;
              width: 100%;
              outline: none;
              font-family: $fontThree;
              background-color: white;
              border: 2px solid rgba(254, 254, 254, 1);
              border-radius: 5px;
            }
          }
        }
      }
      @media only screen and (max-width: $breakpoint-lg) {
        .message-content-box {
          padding: 60px 30px;
          width: 100%;
        }
        .message-form-content-box {
          padding: 30px;
          width: 100%;
          .divisor {
            width: 100%;
            .form-divisor {
              width: 100%;
            }
            .button-divisor {
              padding-top: 20px;
              width: 100%;
              button {
                position: relative;
              }
            }
          }
        }
      }
    }
    .contact-content-box {
      padding: 0 30px 70px 30px;
      h2 {
        padding: 50px 0 30px 0;
        text-align: left;
      }
      .contact-flex-container {
        font-family: $fontTwo;
        font-weight: 600;
        text-align: left;
        p{
          text-transform: uppercase;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          padding: 10px 0;
          li{
            display: flex;
            justify-content: left;
            align-items: center;
            font-weight: 300;
            padding: 10px 0;
            img{
              background-color: white;
              border-radius: 10px;
              padding: 5px;
              margin: 0 5px;
              height: 20px;
              width: 20px;
            }
            a{
              color: white;
              text-decoration: none;
            }
          }
        }
        .address-container {
          width: 25%;
        }
        .phone-container {
          width: 25%;
        }
        .email-container {
          width: 25%;
        }
      }
    }
    @media only screen and (max-width: $breakpoint-lg) {
      .contact-content-box {
        padding: 0 30px 30px 30px;
        h2 {
          padding: 15px 0 30px 0;
          text-align: left;
        }
        .contact-flex-container {
          text-align: left;
          justify-content: center;
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li{
              display: flex;
              justify-content: left;
              align-items: left;
            }
          }
          .address-container {
            padding-top: 15px;
            width: 100%;
            &:nth-child(2){
            padding-top: 30px;
            }
          }
          .phone-container {
            padding-top: 30px;
            width: 100%;
          }
          .email-container {
            padding-top: 30px;
            width: 100%;
          }
        }
      }
    }
    // heyhey
    @media only screen and (max-width: $breakpoint-md) {
      .contact-content-box {
        padding: 0 20px 20px 20px;
        h2 {
          padding: 0;
          text-align: left;
        }
        .contact-flex-container {
          text-align: left;
          justify-content: center;
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li{
              display: flex;
              justify-content: left;
              align-items: left;
            }
          }
          .address-container {
            padding-top: 15px;
            width: 100%;
            &:nth-child(2){
            padding-top: 30px;
            }
          }
          .phone-container {
            padding-top: 30px;
            width: 100%;
          }
          .email-container {
            padding-top: 30px;
            width: 100%;
          }
        }
      }
    }
  }
}
