@import "./variables.scss";

.flex {
    display: flex;
}

.flex-reverse {
    // Remember to reverse flex direction for mobile responsive
    display: flex;
}

.margin-container {
}

.first-element {
    padding-top: 30px;
}
.last-element {
    padding-bottom: 30px;
}
.special-text {
    color: $colorThree;
}

h1 {
    font-weight: 600;
    font-family: $fontOne;
}

h2 {
    font-weight: 600;
    font-family: $fontOne;
}

h3 {
    font-weight: 600;
    font-family: $fontOne;
}

h4 {
    font-weight: 600;
    font-family: $fontOne;
}

h5 {
}

h6 {
}

span {
    font-family: $fontOne;
}

@media only screen and (max-width: $breakpoint-lg) {
    .flex-reverse {
        display: flex;
        flex-direction: column;
    }
}
