@import "./variables.scss";

.flex{
    display: flex;
}

.margin-container{
    margin: 0 30px 30px 30px;
    padding-top: 30px;
}

h1{
    font-family: $fontOne;
}

h2{
    font-family: $fontOne;
}

h3{

}

h4{

}

h5{

}

h6{

}

span{
    font-family: $fontOne;
}