// Imported Fonts from Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');

// Variable for Fonts
$fontOne: 'Montserrat', sans-serif;
$fontTwo: 'Roboto', sans-serif;
$fontThree: 'Hind Madurai', sans-serif;

// Variable for Colors
$colorOne: #DD4132FF;
$colorTwo: #9E1030FF;
$colorThree: #F2CB5B;
$colorFour: #FCCF14;

