@import "../../styles/variables.scss";

.about-container {
  min-height: 100vh;
  width: 100%;
  background-color: #252422;
  .margin-container {
    .content-box {
      padding: 0 30px 30px 30px;
      justify-content: space-between;
      &:nth-child(1) {
        padding: 30px 30px 50px 30px;
        background-image: url("https://i.ibb.co/PTJ1B99/666324.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        background-blend-mode: multiply;
        background-position-y: 100%;
        background-position-x: 100%;
      }
      &:nth-child(2) {
        background-color: red;
        padding-bottom: 80px;
        background-image: url("https://i.ibb.co/PTJ1B99/666324.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.7);
        background-blend-mode: multiply;
        background-position-y: 100%;
        background-position-x: 100%;
      }
      @media only screen and (max-width: $breakpoint-lg) {
        &:nth-child(1) {
          padding: 30px;
          background-position-y: 20%;
          background-position-x: 20%;
        }
        &:nth-child(2) {
          padding: 0 30px 50px 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-position-y: 20%;
          background-position-x: 20%;
        }
      }
      .content {
        h1 {
          position: relative;
          padding-bottom: 5px;
          text-transform: uppercase;
          color: white;
          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: auto;
            bottom: 0;
            height: 5px;
            width: 100px;
            background: rgb(255, 204, 0);
            border-radius: 100px;
            z-index: 2;
          }
          &:after {
            content: "";
            position: absolute;
            left: 0;
            top: auto;
            bottom: 0;
            height: 5px;
            width: 35px;
            background: rgb(255, 204, 0);
            border-radius: 100px;
            z-index: 2;
          }
        }
        span {
          left: 0;
          top: 0;
          font-size: 3rem;
          line-height: 1;
          font-weight: 900;
          color: rgba(255, 255, 255, 0.2);
          display: inline-block;
          text-transform: uppercase;
          transform: translateY(-60%);
          z-index: -1;
          user-select: none;
          white-space: nowrap;
        }
      }
      .button-container {
        height: 50px;
        width: 70px;
        margin-top: 10px;
        background: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        .exit {
          position: relative;
          background-color: $colorThree;
          border-radius: 360px;
          height: 15px;
          width: 15px;
          &::after {
            content: "";
            position: absolute;
            background-color: $colorThree;
            border-radius: 360px;
            height: 15px;
            width: 15px;
            transform: translateX(-165%);
          }
          &::before {
            content: "";
            position: absolute;
            background-color: $colorThree;
            border-radius: 360px;
            height: 15px;
            width: 15px;
            transform: translateX(65%);
          }
          &:hover {
            animation: mainMoves 1s infinite;
            @keyframes mainMoves {
              33% {
                transform: translateY(-30%);
              }
              66% {
                transform: translateY(30%);
              }
              99% {
                transform: translateY(-30%);
              }
            }
          }
        }
      }
      .image-content-box {
        position: relative;
        padding: 0;
        img {
          border-radius: 10px 0 10px 0;
          max-height: 300px;
        }
        &:before {
          content: "";
          position: absolute;
          z-index: 2;
          top: auto;
          right: auto;
          bottom: 0;
          left: 0;
          height: 5px;
          width: 60%;
          background: rgb(255, 204, 0);
          border-radius: 100px;
        }
        &:after {
          content: "";
          position: absolute;
          z-index: 2;
          top: 0;
          right: 0;
          bottom: auto;
          left: auto;
          height: 5px;
          width: 60%;
          background: rgb(255, 204, 0);
          border-radius: 100px;
        }
      }
      @media only screen and (max-width: $breakpoint-lg) {
        .image-content-box {
          height: 300px;
          width: 300px;
          img {
            &::before {
              transform: translateY(-75%);
            }
          }
        }
      }
      .text-content-box {
        align-items: center;
        padding-top: 30px;
        h3 {
          color: white;
          font-weight: 100;
          font-family: $fontThree;
          padding-left: 30px;
          .special-text {
            font-family: $fontThree;
          }
        }
        @media only screen and (max-width: $breakpoint-lg) {
          h3 {
            padding-top: 30px;
            padding-left: 0;
          }
        }
      }
      .background-box {
        padding-top: 30px;
        &:nth-child(1) {
          padding-right: 30px;
        }
        @media only screen and (max-width: $breakpoint-lg) {
          &:nth-child(1) {
            padding-right: 0;
          }
        }
        h2 {
          color: white;
        }
        ul {
          list-style: none;
          color: white;
          font-family: $fontTwo;
          font-weight: 300;
          .parent-li {
            padding: 10px 0;
            position: relative;
            &:after {
              transform: translateX(-250%) translateY(8%);
              content: "";
              position: absolute;
              right: auto;
              bottom: auto;
              left: 0;
              top: 0;
              height: 85%;
              width: 5px;
              background: $colorThree;
              border-radius: 100px;
              z-index: -2;
            }
            .details-text {
              font-weight: 100;
              font-family: $fontThree;
            }
          }
        }
      }
    }
  }
}
