@import "./styles/variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.panel-content {
    height: 100%;
    width: 100%;
    pointer-events: all;
}

.panel-container {
    height: 100%;
    width: 100%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tool-tip {
    font-family: $fontThree;
    padding: 0 0.4rem;
    font-size: 0.75rem;
    font-weight: 100;
    text-transform: none !important;
    margin: 0.4rem 0rem;
}

main {
    min-height: 100vh;
    width: 100%;
    // 1
    nav {
        padding: 1rem 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        overflow: hidden;
        text-transform: uppercase;
        font-family: $fontOne;
        background-color: #f4f3f3;
        color: #222831;
        @media only screen and (max-width: $breakpoint-lg) {
            padding: 1rem;
        }
        @media only screen and (max-width: $breakpoint-xs) {
            padding: 1rem 0.5rem;
        }
        .nav-logo {
            font-size: 0.75rem;
            order: 2;
            user-select: none;
            position: relative;
            &-name {
                font-size: 1.25rem;
                letter-spacing: 0.083rem;
                font-weight: 600;
            }
            @media only screen and (max-width: $breakpoint-lg) {
                order: 1;
            }
        }
        .nav-content {
            order: 1;
            display: flex;
            @media only screen and (max-width: $breakpoint-lg) {
                order: 2;
            }
            * {
                padding: 0 1rem;
                font-size: 1rem;
                font-weight: 600;
            }
            p {
                a {
                    margin: 0;
                    padding: 0;
                    text-decoration: none;
                    color: #222831;
                }
                span {
                    margin: 0;
                    padding: 0;
                    color: $colorTwo;
                }
                // If smaller than
                @media only screen and (max-width: $breakpoint-md) {
                    display: none;
                }
            }
            &-btn {
                // If larger than
                @media only screen and (min-width: $breakpoint-md) {
                    display: none;
                }
                cursor: pointer;
                border: none;
                outline: none;
                margin: 0;
                padding: 0;
                height: 0.25rem;
                width: 3rem;
                background-color: #222831;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    height: 0.25rem;
                    width: 2.5rem;
                    background-color: #222831;
                    transform: translateY(100%);
                }
                &::before {
                    content: "";
                    position: absolute;
                    right: 0;
                    height: 0.25rem;
                    width: 2.5rem;
                    background-color: #222831;
                    transform: translateY(-200%);
                }
            }
        }
    }
    // 2
    .hero-container {
        // 4.41rem is the total size of the nav, thus this results to almost 90vh of the window at load.
        min-height: calc(100vh - 4.41rem);
        width: 100%;
        padding: 1rem 5rem;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: multiply;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        user-select: none;
        @media only screen and (max-width: $breakpoint-lg) {
            padding: 1rem;
        }
        @media only screen and (max-width: $breakpoint-xs) {
            padding: 1rem 0.5rem;
        }
        &-text {
            .main-hero-text {
                font-family: $fontOne;
                font-weight: 900;
                font-size: 3rem;
                color: #f4f3f3;
                span {
                    color: #ffc324;
                }
            }
            .ter-hero-text {
                display: none;
                font-family: $fontThree;
                font-weight: 100;
                font-size: 1.2rem;
                color: #f4f3f3;
            }
            .sub-hero-text {
                font-family: $fontOne;
                font-weight: 900;
                font-size: 2rem;
                color: #f4f3f3;
                padding: 0 0 1rem 0;
            }
            @media only screen and (max-width: $breakpoint-lg) {
                .sub-hero-text {
                    padding: 0 0 2rem 0;
                }
            }
            @media only screen and (max-width: $breakpoint-md) {
                .main-hero-text {
                    padding: 0.5rem 0;
                }
                .ter-hero-text {
                    display: unset !important;
                }
                .sub-hero-text {
                    display: none;
                }
            }
            .hero-text-content {
                display: flex;
                // @media only screen and (max-width: $breakpoint-md) {
                //     right: -225%;
                // }
                // @media only screen and (max-width: $breakpoint-xs) {
                //     top: -100%;
                //     right: -333%;
                // }
                &-first {
                    padding: 0 1rem 0 0;
                }
                p {
                    text-align: justify;
                    width: 50%;
                    span {
                        font-weight: 700;
                        color: #f4f3f3;
                        span {
                            color: #ffc324;
                        }
                    }
                    font-family: $fontThree;
                    font-weight: 100;
                    font-size: 1rem;
                    color: #f4f3f3;
                }
                @media only screen and (max-width: $breakpoint-lg) {
                    flex-direction: column;
                    &-first {
                        padding: 0 0 1rem 0;
                    }
                    p {
                        width: 100%;
                    }
                }
                @media only screen and (max-width: $breakpoint-md) {
                    flex-direction: column;
                    &-first {
                        display: none;
                    }
                    &-second {
                        display: none;
                    }
                    p {
                        width: 100%;
                    }
                }
            }
        }
        #myVideo {
            position: absolute;
            right: 0;
            top: -60%;
            bottom: 0;
            min-height: calc(100vh - 4.41rem);
            min-width: auto;
            z-index: -1;
            @media only screen and (max-width: $breakpoint-lg) {
                right: -50%;
            }
            @media only screen and (max-width: $breakpoint-md) {
                right: -225%;
            }
            @media only screen and (max-width: $breakpoint-xs) {
                top: -100%;
                right: -333%;
            }
        }
    }
    // 3
    // Hidden for desktop view
    .mobile-view-container {
        min-height: 100vh;
        width: 100%;
        //   For Desktop view remove full view
          @media only screen and (min-width: $breakpoint-md) {
              display: none;
          }
    }
}
